<h1>
  Edit <%= @result.user.username %>'s <%= @result.year %> <%= @result.race.name %> Result
</h1>

<hr>

<form action="/update_result/<%= @result.id %>" method="post">

  <div class="form-group">
    

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= @result.user_id %>">
  </div>

  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <%= select_tag(:race_id, options_from_collection_for_select(Race.all, :id, :name, @result.race_id), :class => "form-control") %>

  <div class="form-group">
    <label for="time">
      Time
    </label>

    <input type="text" id="time" name="time" class="form-control" value="<%= @result.time %>">
  </div>

  <div class="form-group">
    <label for="overall_place">
      Overall place
    </label>

    <input type="text" id="overall_place" name="overall_place" class="form-control" value="<%= @result.overall_place %>">
  </div>

  <div class="form-group">
    <label for="age_group_place">
      Age group place
    </label>

    <input type="text" id="age_group_place" name="age_group_place" class="form-control" value="<%= @result.age_group_place %>">
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @result.body %>">
  </div>

  <div class="form-group">
    <label for="link">
      Link
    </label>

    <input type="text" id="link" name="link" class="form-control" value="<%= @result.link %>">
  </div>

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control" value="<%= @result.year %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update result
  </button>
</form>

<hr>

<a href="/results">
  Go back
</a>
